AgentApplication/AgentApplication/Connected Services/AccommodationUnitService/accommodationUnits.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sch="http://www.projectXml.com/accommodationUnit" xmlns:tns="http://www.projectXml.com/accommodationUnit" targetNamespace="http://www.projectXml.com/accommodationUnit" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.projectXml.com/accommodationUnit" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="getAccommodationUnitsRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="id" type="xs:long" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAccommodationUnitsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="accommodationUnits" type="tns:accommodationUnits" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAccommodationUnitRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="accommodationUnitId" type="xs:long" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAccommodationUnitResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="accommodationUnit" type="tns:accommodationUnit" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addAccommodationUnitRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="accommodationId" type="xs:long" />
            <xs:element name="accommodationUnit" type="tns:accommodationUnit" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addAccommodationUnitResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="accommodationUnit" type="tns:accommodationUnit" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="updateAccommodationUnitRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="accommodationUnit" type="tns:accommodationUnit" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="removeAccommodationUnitRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="accommodationUnitId" type="xs:long" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="accommodationUnit">
        <xs:sequence>
          <xs:element name="Floor" type="xs:int" />
          <xs:element name="Number" type="xs:string" />
          <xs:element name="NumberOfBeds" type="xs:int" />
          <xs:element name="DefaultPrice" type="xs:double" />
          <xs:element name="AccommodationUnitType" type="tns:accommodationUnitType" />
          <xs:element name="Id" type="xs:long" />
          <xs:element name="Accommodation" type="tns:accommodation" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="accommodationUnits">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="AccommodationUnits" type="tns:accommodationUnit" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="accommodation">
        <xs:sequence>
          <xs:element name="Description" type="xs:string" />
          <xs:element name="Name" type="xs:string" />
          <xs:element name="Category" type="xs:string" />
          <xs:element name="Address" type="tns:Address" />
          <xs:element name="AccommodationType" type="tns:accommodationType" />
          <xs:element name="Id" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="accommodationType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="HOTEL" />
          <xs:enumeration value="MOTEL" />
          <xs:enumeration value="BED_AND_BREAKFAST" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="Address">
        <xs:sequence>
          <xs:element name="Country" type="xs:string" />
          <xs:element name="City" type="xs:string" />
          <xs:element name="Postal_code" type="xs:int" />
          <xs:element name="Street" type="xs:string" />
          <xs:element name="Number" type="xs:string" />
          <xs:element minOccurs="0" name="Apartment_number" type="xs:string" />
          <xs:element name="Longitude" type="xs:double" />
          <xs:element name="Latitude" type="xs:double" />
          <xs:element name="Id" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="accommodationUnitType">
        <xs:sequence>
          <xs:element name="Id" type="xs:long" />
          <xs:element name="Name" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getAccommodationUnitsRequest">
    <wsdl:part name="getAccommodationUnitsRequest" element="tns:getAccommodationUnitsRequest" />
  </wsdl:message>
  <wsdl:message name="getAccommodationUnitRequest">
    <wsdl:part name="getAccommodationUnitRequest" element="tns:getAccommodationUnitRequest" />
  </wsdl:message>
  <wsdl:message name="getAccommodationUnitsResponse">
    <wsdl:part name="getAccommodationUnitsResponse" element="tns:getAccommodationUnitsResponse" />
  </wsdl:message>
  <wsdl:message name="updateAccommodationUnitRequest">
    <wsdl:part name="updateAccommodationUnitRequest" element="tns:updateAccommodationUnitRequest" />
  </wsdl:message>
  <wsdl:message name="getAccommodationUnitResponse">
    <wsdl:part name="getAccommodationUnitResponse" element="tns:getAccommodationUnitResponse" />
  </wsdl:message>
  <wsdl:message name="addAccommodationUnitRequest">
    <wsdl:part name="addAccommodationUnitRequest" element="tns:addAccommodationUnitRequest" />
  </wsdl:message>
  <wsdl:message name="addAccommodationUnitResponse">
    <wsdl:part name="addAccommodationUnitResponse" element="tns:addAccommodationUnitResponse" />
  </wsdl:message>
  <wsdl:message name="removeAccommodationUnitRequest">
    <wsdl:part name="removeAccommodationUnitRequest" element="tns:removeAccommodationUnitRequest" />
  </wsdl:message>
  <wsdl:portType name="AccommodationUnitPort">
    <wsdl:operation name="getAccommodationUnits">
      <wsdl:input name="getAccommodationUnitsRequest" message="tns:getAccommodationUnitsRequest" />
      <wsdl:output name="getAccommodationUnitsResponse" message="tns:getAccommodationUnitsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAccommodationUnit">
      <wsdl:input name="getAccommodationUnitRequest" message="tns:getAccommodationUnitRequest" />
      <wsdl:output name="getAccommodationUnitResponse" message="tns:getAccommodationUnitResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateAccommodationUnit">
      <wsdl:input name="updateAccommodationUnitRequest" message="tns:updateAccommodationUnitRequest" />
    </wsdl:operation>
    <wsdl:operation name="addAccommodationUnit">
      <wsdl:input name="addAccommodationUnitRequest" message="tns:addAccommodationUnitRequest" />
      <wsdl:output name="addAccommodationUnitResponse" message="tns:addAccommodationUnitResponse" />
    </wsdl:operation>
    <wsdl:operation name="removeAccommodationUnit">
      <wsdl:input name="removeAccommodationUnitRequest" message="tns:removeAccommodationUnitRequest" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccommodationUnitPortSoap11" type="tns:AccommodationUnitPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAccommodationUnits">
      <soap:operation soapAction="" />
      <wsdl:input name="getAccommodationUnitsRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAccommodationUnitsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAccommodationUnit">
      <soap:operation soapAction="" />
      <wsdl:input name="getAccommodationUnitRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAccommodationUnitResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAccommodationUnit">
      <soap:operation soapAction="" />
      <wsdl:input name="updateAccommodationUnitRequest">
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="addAccommodationUnit">
      <soap:operation soapAction="" />
      <wsdl:input name="addAccommodationUnitRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addAccommodationUnitResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeAccommodationUnit">
      <soap:operation soapAction="" />
      <wsdl:input name="removeAccommodationUnitRequest">
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccommodationUnitPortService">
    <wsdl:port name="AccommodationUnitPortSoap11" binding="tns:AccommodationUnitPortSoap11">
      <soap:address location="http://localhost:9007/ws" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>