AgentApplication/AgentApplication/Connected Services/AddressService/addresses.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sch="http://www.projectXml.com/address" xmlns:tns="http://www.projectXml.com/address" targetNamespace="http://www.projectXml.com/address" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.projectXml.com/address" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="getAddressRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="id" type="xs:long" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAddressResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="address" type="tns:address" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addAddressRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="address" type="tns:address" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addAddressResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="success" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="address">
        <xs:sequence>
          <xs:element name="Country" type="xs:string" />
          <xs:element name="City" type="xs:string" />
          <xs:element name="Postal_code" type="xs:int" />
          <xs:element name="Street" type="xs:string" />
          <xs:element name="Number" type="xs:string" />
          <xs:element minOccurs="0" name="Apartment_number" type="xs:string" />
          <xs:element name="Longitude" type="xs:double" />
          <xs:element name="Latitude" type="xs:double" />
          <xs:element name="Id" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="addAddressRequest">
    <wsdl:part name="addAddressRequest" element="tns:addAddressRequest" />
  </wsdl:message>
  <wsdl:message name="addAddressResponse">
    <wsdl:part name="addAddressResponse" element="tns:addAddressResponse" />
  </wsdl:message>
  <wsdl:message name="getAddressRequest">
    <wsdl:part name="getAddressRequest" element="tns:getAddressRequest" />
  </wsdl:message>
  <wsdl:message name="getAddressResponse">
    <wsdl:part name="getAddressResponse" element="tns:getAddressResponse" />
  </wsdl:message>
  <wsdl:portType name="AddressPort">
    <wsdl:operation name="addAddress">
      <wsdl:input name="addAddressRequest" message="tns:addAddressRequest" />
      <wsdl:output name="addAddressResponse" message="tns:addAddressResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAddress">
      <wsdl:input name="getAddressRequest" message="tns:getAddressRequest" />
      <wsdl:output name="getAddressResponse" message="tns:getAddressResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AddressPortSoap11" type="tns:AddressPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addAddress">
      <soap:operation soapAction="" />
      <wsdl:input name="addAddressRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addAddressResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAddress">
      <soap:operation soapAction="" />
      <wsdl:input name="getAddressRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAddressResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AddressPortService">
    <wsdl:port name="AddressPortSoap11" binding="tns:AddressPortSoap11">
      <soap:address location="http://localhost:9007/ws" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>